.Exchange,.Exchange2{
    /* box-shadow: 6px 5px 5px 5px #888888; */
    /* width: 15%; */
    /* height: 180px; */
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
    padding-left: 20%;
    padding-right: 20%;

}
.images{
    justify-content: space-around;
    /* display: flex; */
    box-shadow: 6px 5px 5px 5px #888888;
    width: 10%;
    /* height: 180px; */
    /* border: 2px solid black; */
    text-align: center;
    padding: 2%;
    min-width: 15%;
    
    
    
} 
img{
    height: 100px;
}
.header{
    display: flex;
}
#maktaba{
    margin-top: 3%;
}

