.body {
    padding-left: 5%;
    padding-right: 5%;
}

.topnav {
    box-shadow: -0.5px 0.5px 0.5px 0.5px black;
    
    display: flex;
    background-color: #867D2A;
    color: white;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
}

.header {
    display: flex;
    float: left;
    margin-left: 2%;

    margin-left: 10px;

}

.list {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #867D2A;
}

.list a {

    padding: 70px;
    text-decoration: none;
    color: rgb;
    border: none;
    padding-top: 20%;
    margin-top: 3%;
    font-size: 20px;
    margin-left: 20px;

}

.login {
    margin-top: 4%;
}

.button {
    border-radius: 50px;
    padding: 10px;
    height: fit-content;
    background-color: #53ca72;
    color: antiquewhite;
    border: none;
    width: fit-content;
    margin-top: 4%;
    margin-right: 2%;
}

.search {
    margin-top: 2%;
    margin-left: 80%;


}

hr {
    color: #ED661F;
}

.list {
    border-radius: 70px;
    margin-left: 17%;
    margin-bottom: 1%;
   color: white;
    align-items: center;
}

u {
    text-decoration-color: #ED661F;
    text-decoration-thickness: 5px;
    text-underline-offset: 2px;
}

/* end of top nav */

.contaniner1 {
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;


    display: flex;
    height: fit-content;

    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1%;


}

.container1 {
    box-shadow: 0.5px 0.5px 0.5px 0.5px ghostwhite;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
background-size:cover;
    width: 100%;
height: fit-content;
    background-repeat: no-repeat;
    height: 400px;

    margin: 0px;
    justify-content: space-between;
}

.container2 {
    box-shadow: 0.5px 0.5px 0.5px 0.5px ghostwhite;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
align-items: center;
    width: 100%;

    padding: 5px 3px;
    height: auto;
    margin: 0px;
    justify-content: space-between;
}

.container2 .each_data {
    width: auto;
    background-color: grey;
    margin: 0.5%;
    height: 200px;
    min-width: 20%;
    border-radius: 4px;
    text-align: center;
    padding-top: 4px;


}

.container2 .each_data p {
    font-size: 24px;
    margin: 2px auto;
}

.data1 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;


    width: 100%;
    padding: 10px 6px;
    height: auto;
    margin: 10px 0;
}

.data1 .each_data {
    width: auto;
    background-color: ghostwhite;
    margin: 0.5%;
    min-width: 30%;
    border-radius: 4px;
    padding: 2px;
    height: fit-content;
    align-items: center;
    box-shadow: 2px 2px 2px 2px black;

}

.footer {
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: #867D2A;
    width: 100%;

    padding: 5px 3px;
    height: auto;
    margin: 0px;
    justify-content: space-between;
}

.footer .each_data {
    width: auto;
    margin: 0.5%;
    height: auto;
    min-width: 20%;
    border-radius: 4px;
    box-shadow: 2px black;
    padding-top: 4px;
align-items: center;
    margin: 0.5%;
    min-width: 22%;
    padding: 2px;
    color: white;
}

italic {
    margin-top: 30%;
    color: white;
    font-style: italic;
    font-size: 30px;
    margin-left: 2px;

}

strong {

    color: yellow;
}
